<% provide(:title, 'Guests') %>
<section>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'events/event_navbar' %>
      <div class="right d-flex flex-column justify-content-start align-items-center">
        <% if @guests.blank? %>
          <div class="card shadow d-flex mt-4 mx-3 flex-column justify-content-center align-items-center">
          <p class="text-center my-2 py-1 px-3">Empty guest list!</p>
          </div>
        <% else %>
          <%= render 'connections/guest_list', locals: { guests: @guests } %>
        <% end %>
        <div class="d-flex justify-content-center">
          <%= link_to "Add guests", contact_list_path(@user,@event),  class: "shadow-sm border border-1 border-warning btn btn-sm btn-primary mt-3 mb-5"%>
        </div>
      </div>
    </div>
  </div>
</section>
