


<% provide(:title, 'Guests') %>


<section>

<div class="container-fluid">

    <div class="row flex-nowrap">
        


<%= render 'events/event_navbar'%>
<div class="right">
<%= link_to "Add guests", contact_list_path(@user,@event)%>

<% if @guests.blank? %>
<p class="empty">Guest list empty!</p>
<%else%>
<%= render 'connections/guest_table' %>
<%end%>
</div>
</section>
