<% provide(:title, 'To Do') %>
<section class="h-100">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'events/event_navbar'%>
      <div class="right">
        <% if @tasks.blank? %>
          <p class="text-center mt-5">To do list empty! Add some tasks!</p>
        <% else %>
          <%= render 'tasks/to_do_list'%>
        <% end %>
        <%= render 'tasks/new_task'%>
      </div>
    </div>
  </div>
</section>