<% provide(:title, 'To Do') %>
<section class="h-100">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'events/event_navbar'%>
      <div class="right d-flex flex-column justify-content-start align-items-center">
        <h1 class="mb-3 mt-5 fs-5 badge rounded-pill bg-success">To do list</h1>
        <% if @tasks.blank? %>
          <p class="text-center fw-bold mt-2">Empty list!</p>
        <% else %>
          <%= render 'tasks/to_do_list'%>
        <% end %>
        <%= render 'tasks/new_task'%>
      </div>
    </div>
  </div>
</section>