<% provide(:title, 'ToDo') %>


<section>

<div class="container-fluid">

    <div class="row flex-nowrap">
        


<%= render 'events/event_navbar'%>
<div class="right">

<% if !@tasks.blank? %>
<%= render 'tasks/to_do_list'%>

<%end%>
<%= render 'tasks/new_task'%>
</div>





  </div>

</div>
</section>