<% provide(:title, "My Events") %>
<section class="min-vh-100 d-flex flex-column justify-content-start align-items-center">
  <% if @events.blank? %>
    <div class="card shadow d-flex mt-5 mx-3 flex-column align-items-center justify-content-center">
    <p class="text-center px-3 fs-5 my-2">Welcome to the BeMyGuest event planner!</p> 
    <p class="text-center px-2 my-2">Start planning by creating a 
     <%= link_to " new event!","#","aria-current" => "page", "data-bs-toggle"=>"modal", "data-bs-target"=>"#newEventModal",class: "link-to", "data-bs-whatever"=>"@mdo" %>
    </p>
    </div>
  <% else %>
    <%= render 'users/event_cards' %>
  <%end%>
</section>
    


