<footer >
  <div class="d-flex justify-content-between flex-column flex-md-row bg-success mt-0 pt-2">
    <div class="d-flex flex-column flex-sm-row justify-content-center align-items-start mt-1 pt-1">
      <%= link_to "Privacy Policy ", "#", class: "px-2 mb-1 active" %>
      <span class="d-none d-sm-inline">|</span>
      <%= link_to "Terms & Conditions ", "#", class: "px-2 mb-1 active" %>
      <span class="d-none d-sm-inline">|</span>
      <%= mail_to "rreiso@protonmail.com", "Contact Us", class: "px-2 active" %>
    </div>
    <p class="px-2 mt-3 mt-md-2 text-sm-center">© 2021 Copyright</p>
  </div>
</footer>
