<h1>BeMyGuest Event Planner</h1>
<p>The only tool you need for flawless gatherings</p>
<p>Planning your grandma's birthday,  or a fancy dinner party? BeMyGuest event planner will help you organise birthdays, anniversaries, graduation parties and any other events with ease. Keep everything under control by managing guest, shopping, to do lists and more!</p>
<%= link_to "Create new account", signup_path, class: "btn btn-lg
btn-primary" %>

