// scss-docs-start color-variables
$blue:    #212944 !default;
$red:     #ad3525 !default;
$orange:  #bb9748 !default;
$yellow:  #fbcb6f !default;
$grey:    #4f5253 !default;
$light:   #f6f8f8 !default;
$light-grey: #a8a1a1 !default;

// Colors-map
$colors: (
  "blue":       $blue,
  "red":        $red,
  "orange":     $orange,
  "light":      $light,
) !default;

// Theme-color-variables
$primary:       $yellow !default;
$secondary:     $grey !default;
$success:       $blue !default;
$info:          $light-grey !default;
$warning:       $orange !default;
$danger:        $red !default;


// Theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
) !default;

// Links
$link-color:                              $light !default;
$link-decoration:                         none !default;
$link-hover-color:                        $info!default;

// Components
$component-active-bg:         $success !default;

// Buttons
$btn-padding-y-sm:            0.25rem !default;
$btn-padding-x-sm:            0.5rem !default;

// Fonts
$font-family-base:   Rubik, Helvetica, Sans-serif;

@import "../../../node_modules/bootstrap/scss/bootstrap";