<div class="object-new">
  <%= form_with model: [@current_user, @event, @new_item],class: "d-flex flex-column flex-md-row align-items-center justify-content-center", local: true  do |f| %>
    <%= f.label :name, "New item", class: "sr-only" %>
    <%= f.text_field :name,
        class: "object-input rounded",
        placeholder: "Balloons",
        autocomplete: "off",
        required: true %>
    <%=f.submit "Add item", class: "mb-4 mt-4 btn btn-primary border border-warning border-1 btn-sm mx-2"%>
  <% end %>
</div>