<% provide(:title, 'Shopping') %>
<section class="h-100">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'events/event_navbar'%>
      <div class="right">
        <% if @items.blank? %>
          <p class="text-center fw-bold mt-5">Shopping list empty! Add some items!</p>
        <% else %>
          <%= render 'items/shopping_list'%>
        <% end %>
        <%= render 'items/new_item'%>
      </div>
    </div>
  </div>
</section>