<% provide(:title, 'Shopping') %>


<section>

<div class="container-fluid">

    <div class="row flex-nowrap">
        


<%= render 'events/event_navbar'%>
<div class="right">

<% if !@items.blank? %>
<%= render 'items/shopping_list'%>

<%end%>
<%= render 'items/new_item'%>
</div>





  </div>

</div>
</section>