<% provide(:title, 'Shopping') %>
<section class="h-100">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%= render 'events/event_navbar'%>
      <div class="right d-flex flex-column justify-content-start align-items-center" style="overflow-y: auto">
        <h1 class="mb-3 mt-5 fs-5 badge rounded-pill bg-success">Shopping list</h1>
        <% if @items.blank? %>
          <p class="text-center fw-bold mt-2">Empty list!</p>
        <% else %>
          <%= render 'items/shopping_list'%>
        <% end %>
        <%= render 'items/new_item'%>
      </div>
    </div>
  </div>
</section>