/*
 *= require_tree .
 *= require_self
 */

/* || GENERAL STYLES */

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background-color: rgba(114, 133, 165, 0.562);
	background-image: linear-gradient(
			125deg,
			rgba(245, 240, 199, 0.692),
			rgba(204, 227, 247, 0.863)
		),
		image-url("dim.png");
}

/* || UTILITIES */

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.field_with_errors {
	background-color: none;
}

.pointer {
	cursor: pointer;
}
.link-to {
	color: rgb(16, 109, 170);
}
.link-to:hover {
	color: rgba(54, 121, 167, 0.712);
}

.btn-close {
	min-width: 16px;
}

.font-dark {
	color: #213544;
}

.text-light-blue {
	color: rgb(22, 82, 131);
}

.fs-7 {
	font-size: 0.85rem;
}

/* || FONTS */

.dancing {
	letter-spacing: 2px;
	font-family: "Dancing Script";
}

.pacifico {
	font-family: Pacifico;
}

/* || NAVBAR */

.navbar-nav {
	width: 100%;
}

.brand-name {
	font-size: 1.5rem;
	color: var(--bs-light) !important;
}

/* || FOOTER */

footer {
	color: whitesmoke;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
