 /*
 *= require_tree .
 *= require_self
 */
 
 
 /* || ALL CONTACTS */
    
    .entry-title{
min-width: 3.5rem;
}

.contact-card{
  max-width: 15rem;
}

@media (min-width: 20em){
 .contact-card{
    max-width: 18rem;
  }
}

@media (min-width: 22.5em){
 .contact-card{
    max-width: 19rem;
  }
}

@media (min-width: 31.25em) {
	 .contact-card{
    max-width: 27rem;
  }
}

@media (min-width: 43.75em) {
   .contact-card{
    max-width: 40rem;
  }
}