@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");







.right {
	flex-shrink: 1 !important;
}
.event-container {
	margin: 0 auto;
}

// .empty {

// }

.card-custom {
	margin: 0.75rem;
	// max-width: 24rem;
	// min-width: 20rem;
	overflow: hidden;
	// min-height: 450px;
	-moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.card-custom-img {
	min-height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-color: inherit;
	background-image: image-url("celebration1.png");
	// border-bottom: 5px solid red;
}

.card-details {
	display: inline;
}

.side-nav-link:hover, .hover:hover {
	opacity: 0.8;
	// text-decoration: underline;
	// color: var(--bs-blue);
}

.brand-name{
	font-family: Pacifico;
	font-size: 1.25rem;
}



// .object-table{
//   max-width: 12rem;
// }

.notes {
	width: 95%;
	margin: 0 auto;
	// min-height: 10rem;
	max-height: 100vh;
}

.tape {
	top: 20px;
	left: 25%;
	position: relative;
	width: 50%;
	height: 40px;
	background: rgba(223, 218, 188, 0.534);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #424242;
}

#sticky-note {
	display: block;
	margin-bottom: 0.5rem;
	width: 100%;
	min-height: 15rem;

	padding: 1.5rem;
	background-color: var(--bs-light);
	-moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
}
.card-general{
  max-width:11rem;
}

.object-table {
	margin: 0 auto;
	max-width: 12rem;
}


.guest-name{
  
  overflow: auto;
}
.btn-close{
  min-width: 16px;
}

.side-nav {
	min-height: 100vh;
}

.contact-table {
	margin: 0 auto;
	max-width: 15rem;
}

.object-input {
	max-width: 12.5rem;
}

@media (min-width: 320px) {

	.card-general {
		max-width: 13rem;
	}
}

@media (min-width: 350px) {
	.notes {
		max-width: 25rem;
	}
	.object-table {
		max-width: 17.5rem;
	}

	.card-general {
		max-width: 15rem;
	}

  
	.contact-table {
		max-width: 90%;
	}
}

@media (min-width: 500px) {
	.card-general {
		max-width: 25rem;
	}
	.notes {
		max-width: 25rem;
	}
	#sticky-note {
		height: 24rem;
		padding: 2.5rem;
	}
	.object-table {
		max-width: 90%;
	}
	.contact-table {
		max-width: 90%;
	}
}


@media (min-width:576px){
  .guest-name{
    width: 11rem;
  }
}
@media (min-width: 700px) {
  .guest-name{
    width: 14rem;
  }
	.contact-table {
		max-width: 80%;
	}
	.object-table {
		max-width: 70%;
	}
	.notes, .card-general {
		max-width: 28rem;
	}
}

@media (min-width: 1000px) {
	.notes,.card-general {
		max-width: 30rem;
	}
	.object-table {
		max-width: 55%;
	}
}
@media (min-width: 1200px) {
	.notes, .card-general {
		max-width: 35rem;
	}
}
@media (min-width: 1300px) {
	.notes, .card-general {
		max-width: 40rem;
	}
}
// }

// @media (min-width:500px){
//   #sticky-note{
//   	max-width: 3rem;
//   }
// }

// @media (min-width:700px){
//   #sticky-note{
//     width: 25rem;
//   }
// }

// @media (min-width:1024px){
//   #sticky-note{
//     width: 33rem;
//   }
// }
