

 input:checked + .object-label {
      text-decoration: line-through;
    }

    .line-through{
      text-decoration: line-through;
    }
    

input[type="checkbox"]{
min-width: 16px;
}

    .object-label{
      margin: 0 0.5rem;
    }

   