.object-table{
  width:20rem;
}

 input:checked + .object-label {
      text-decoration: line-through;
    }

    .line-through{
      text-decoration: line-through;
    }
    
    .object-label{
      margin: 0 1rem;
    }

   