.task-table{
  width:20rem;
}

 input:checked + label {
      text-decoration: line-through;
    }

    .line-through{
      text-decoration: line-through;
    }
    
    .task-label{
      margin: 0 1rem;
    }

    // .task-new{
    //   display: block;
    // }